body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

textarea {
    width: calc(100% - 20px);
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="number"],
input[type="text"] {
    width: 50px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}

input[type="text"] {
    width: 30px;
}

#plugboardSettings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#plugboardSettings div {
    margin: 5px;
}

@media (max-width: 600px) {
    .container {
        width: calc(100% - 40px);
        margin: 20px auto;
        padding: 10px;
    }

    textarea {
        width: calc(100% - 20px);
        height: 80px;
    }

    input[type="number"],
    input[type="text"] {
        width: 40px;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }
}
